body {
  background-color: lightgray;
  
}

.product-container {
  display: flex;
  border: solid 20px black;

}

.product-card img {
  height: 100px;
  margin: auto;
  display: block;

}

.product-card {
  margin: 25px;
}

.availability {
  background-color: black;
  color: yellow;
  display: flex;
}

.img {
  height: 500px;
  width: 500px;
  
}

h2 {
  border: 1px solid lightblue;
  text-align: center;
  background-color: cadetblue;
}
